* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

nav {
    align-items: center;
    background-color: rgb(207, 61, 61);
    color: rgb(255, 255, 215);
}

.container-nav {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 2px;
    background-color: rgb(207, 61, 61);
    color: rgb(255, 255, 215);
}

nav h1 {
    margin: auto;
}

nav img {
    width: 4%;
    margin-right: 1%;
}

.material-symbols-outlined {
    cursor: pointer;
}

.container-bloco {
    display: flex;
    margin: auto;
    margin-top: 8%;
    width: 750px;
}

.container-texto {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding: 30px;
    justify-content: left;
    margin-right: 10px;
    gap: 30px;
}

#imagemAndroid {
    width: 80%;
}

.container-botoes {
    display: flex;
    justify-content: right;
    margin-top: 18%;
}

button {
   padding: 9px;
   margin-right: 2px; 
   margin-left: 3%;
   cursor: pointer;
}

#semBG {
    background-color: transparent;
    border: 1px solid rgb(207, 61, 61);
}

#comBG {
    border: none;
    color: white;
    background-color: rgb(207, 61, 61) ;
}