* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {

    height: 600px;
    padding: 40px;
    background-color: rgb(255, 166, 34);
}

div {
    display: flex;
    justify-content: right;
    margin-top: 11%;
}

img {
    width: 8%;
}

section {
    display: grid;
    padding: 10px;
    margin-top: 2%;
    gap: 10px;
}